<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/syntax-highlighting.css">
</head>

<body {% if page.class != "" %} class="{{ page.class }}" {% endif %}>
  <div class="wrapper">
    {% include navigation.html %}
  </div>
  <div class="wrapper">
    {{ content }}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</body>

<footer>
  <div class="wrapper">
    <hr />
    <address>
      <span aria-hidden="true">📧</span> <a href="mailto:andrewwpetz@gmail.com">Email me!</a>
    </address>
  </div>
</footer>

</html>