---
layout: default
---

Tags: {% for tag in page.tags %} <a href="/tags.html#{{t | downcase | replace:' ','-' }}">{{tag}}</a> {% endfor %}

<hr />

<h1>{{ page.title }}</h1>
Posted on <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
    {% endcase %},
    {{ page.date | date: "%Y" }}</time>

<article>
    {{ content }}
</article>